@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@400;600&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./img/SeojunxJugyeong.jpg);
    background-size: 380px;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 98vh;
}
#audio{
    display: none;
}
.container {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-image: url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 900px;
    border-radius: 3%;
    box-shadow: 5px 5px 10px #000;
    margin: 50px 0;
    overflow: hidden;


}

.container .title {
    font-size: 50px;
    text-shadow: 3px 3px 4px #2b2214, 0px 0px 2px #2b2214;
    color: #ff0000;
    letter-spacing: 1px;
    width: 80%;
    font-family: 'Dancing Script', cursive;
    animation: fromLeft 800ms linear;
    text-align: center;
}

.container .parrafo {
    margin: 0 ;
    font-size: 35px;
    color:#fff;
    text-shadow: 1px 1px 1px rgb(80, 60, 7),1px 1px 2px rgb(80, 60, 7),1px 1px 2px rgb(80, 60, 7);
    text-align: center;
    width: 65%;
    font-family: 'Dancing Script', cursive;
    animation: fromBot 1000ms linear;
}

.container img {
    height: 50px;
    border-radius: 5%;
    border: 1px 1px solid #000;
    box-shadow: 3px 3px 10px #000;
    animation: aparecer 1500ms linear;
}


@keyframes fromLeft {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0%);
    }
}
@keyframes fromBot {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0%);
    }
}
@keyframes aparecer{
    from{
        height: 0%;
    }
}
.letrasPequeñas {
    font-size: 20px;    
    font-family:Arial, Helvetica, sans-serif;
    color: #815615;
    animation: fromBot 1000ms linear;
}

.love {
    margin: 40px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background: #ff006a;
    position: relative;
    animation: beating 2s ease infinite;
}

.love:before,
.love:after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ff006a;
    position: absolute;
}

.love:before {
    top: 0;
    left: -15px;
}

.love:after {
    top: -15px;
}
@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(2);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
  }

#mensaje1 {
    display: flex;
}

#mensaje2 {
    /* display: none; */

}

#mensaje2 img {
    height: 100px;
    box-shadow: none;
}

#mensaje3 {
    /* display: none; */
}

#mensaje3 img {
    height: 180px;
}

#mensaje4 {
    /* display: none; */
}

#mensaje4 img {
    height: 50%;
    margin-left: 20px;
    box-shadow: none;
}

#mensaje5 {
    /* display: flex; */
}

#novia {
    /* display: none; */
}

#congratulation {
    /* display: none; */
}

.button-container {
    display: flex;
    align-items: center;
}

.btn {
    margin: 40px;
    padding: 15px;
    background-color: #ffad42;
    
    border: none;
    min-width: 100px;
    border-radius: 5%;
    color: #000;
    cursor: pointer;
    transition: all 400ms;
    letter-spacing: 1px;
    text-transform: uppercase;   
    animation: aparecer 100ms linear;
}

.btn:hover {
    background-color: #ffad42;
    background-color: #815615;
    color: #fff;
    text-transform: upercase;
}